name: Release

on:
  push:
    branches:
      - release

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6
      # - name: Setup pnpm
      #   uses: pnpm/action-setup@v4
      - name: Setup node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
      - name: Install Dependencies
        run: npm i --frozen-lockfile
      - name: release
        run: npm publish --verbose
